:root {
  --primary: #000;
  --white: #fff;
  --link-color: #0000ee;
  --gray: #ccc;
  --gray-2: #ddd;
  --gray-3: #808080;
  --pink: #e22bba;
  --white-2: #ebecf0;
  --black-v: #525252;
  --card-hover: #cecece1f;
  --open: #03ca03;
  --closed: #ff0000;
}
