@import "../../styles/mixins.scss";

.card {
  padding: 10px;
  background: var(--white-2);
  border-radius: 10px;
  width: 100%;
  h6 {
    @include ellipsis();
  }
  p {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 65px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
